.git
.github
.idea
.vscode
.DS_Store
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/.next
**/vendor
**/storage/logs/*
**/storage/framework/cache/*
**/storage/framework/sessions/*
**/storage/framework/views/*
**/database/*.sqlite
outputs
work
